<!-- Table Section -->
<section class="flex w-full max-w-[100vw] grow py-10 lg:py-14">
    <div class="w-full overflow-hidden">
        <div
            class="grid gap-3 border-b border-base-300 px-6 py-4 md:flex md:items-center md:justify-between">
            <div>
                <h1 class="text-xl font-semibold text-primary">
                    {{ title }}
                </h1>
                <p class="text-sm text-base-content">
                    {{ subtitle }}
                </p>
            </div>

            <div>
                <div class="join grid grid-cols-2">
                    <button class="btn btn-outline join-item">Tout voir</button>
                    <button class="btn btn-outline join-item">
                        <svg
                            class="h-3 w-3 flex-shrink-0"
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none">
                            <path
                                d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round" />
                        </svg>
                        Ajouter un utilisateur
                    </button>
                </div>
            </div>
        </div>
        <!-- End Header -->
        <!-- Table -->
        <div class="w-full overflow-hidden">
            <div class="overflow-x-auto">
                <table class="table">
                    <!-- thead  -->
                    <thead class="">
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" class="checkbox" />
                                </label>
                            </th>
                            @for (label of tableLabels; track label) {
                                <th class="text-md capitalize text-primary">
                                    {{ label }}
                                </th>
                            }
                        </tr>
                    </thead>

                    <!-- tbody -->
                    <tbody class="">
                        @if (error$ | async; as errorMessage) {
                            <div>
                                {{ errorMessage }}
                            </div>
                        } @else if (isLoading$ | async) {
                            <div>Chargement des données...</div>
                        } @else {
                            @for (user of users$ | async; track user) {
                                <tr
                                    class="border-b-base-content/50 hover:bg-primary/20">
                                    <!-- Checkbox -->
                                    <td class="h-px w-px whitespace-nowrap">
                                        <label>
                                            <input
                                                type="checkbox"
                                                class="checkbox" />
                                        </label>
                                    </td>
                                    <!-- Avatar -->
                                    <td>
                                        <div
                                            class="flex flex-wrap items-center gap-3">
                                            <div class="avatar">
                                                <div
                                                    class="mask mask-hexagon h-12 w-12">
                                                    <img
                                                        [src]="
                                                            user['avatar']
                                                                ? user['avatar']
                                                                : 'https://gravatar.com/avatar/205e460b479e2?d=wavatar'
                                                        "
                                                        alt="Avatar de l'utilisteur" />
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-bold">
                                                    {{
                                                        user.firstname +
                                                            ' ' +
                                                            user.lastname
                                                    }}
                                                </div>

                                                <div class="text-sm opacity-50">
                                                    {{ user.username }}
                                                </div>

                                                <div class="text-sm opacity-50">
                                                    {{ user.phone }}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- Address -->
                                    <td>
                                        @if (user.address) {
                                            <div class="flex flex-col">
                                                <div>
                                                    {{
                                                        user.address
                                                            .streetNumber +
                                                            ' ' +
                                                            user['address']
                                                                .street
                                                    }}
                                                </div>

                                                @if (
                                                    user['address']
                                                        .additionalInfo
                                                ) {
                                                    <div>
                                                        {{
                                                            user['address']
                                                                .additionalInfo
                                                        }}
                                                    </div>
                                                }
                                                <div>
                                                    {{
                                                        user['address']
                                                            .postalCode +
                                                            ' ' +
                                                            user['address'].city
                                                    }}
                                                </div>
                                                <div>
                                                    {{
                                                        user['address'].country
                                                    }}
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <!-- Autorisations -->
                                    <td>
                                        <div class="flex flex-col gap-1">
                                            @for (
                                                authority of user[
                                                    'authorities'
                                                ];
                                                track authority
                                            ) {
                                                <span
                                                    class="badge badge-outline badge-sm">
                                                    {{ authority.authority }}
                                                </span>
                                            } @empty {
                                                <span class="">
                                                    Aucune autorisation
                                                </span>
                                            }
                                        </div>
                                    </td>
                                    <!-- Status -->
                                    <td>
                                        <table class="table table-xs">
                                            <tbody>
                                                <tr class="border-b-0">
                                                    <td class="text-right">
                                                        Compte non expiré :
                                                    </td>
                                                    <td>
                                                        {{
                                                            user.accountNonExpired
                                                                ? '&#x2705;'
                                                                : '&#x274C;'
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr class="border-b-0">
                                                    <td class="text-right">
                                                        Compte non verrouillé :
                                                    </td>
                                                    <td>
                                                        {{
                                                            user.accountNonLocked
                                                                ? '&#x2705;'
                                                                : '&#x274C;'
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr class="border-b-0">
                                                    <td class="text-right">
                                                        Vérifié :
                                                    </td>
                                                    <td>
                                                        {{
                                                            user.verified
                                                                ? '&#x2705;'
                                                                : '&#x274C;'
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        Mot de passe non expiré:
                                                    </td>
                                                    <td>
                                                        {{
                                                            user.credentialsNonExpired
                                                                ? '&#x2705;'
                                                                : '&#x274C;'
                                                        }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- Securité-->
                                    <td>
                                        <table class="table table-xs">
                                            <tbody>
                                                <tr class="border-b-0">
                                                    <td
                                                        class="border-b-0 text-right">
                                                        Nombre de temptatives
                                                        échoué :&nbsp;
                                                    </td>
                                                    <td>
                                                        {{
                                                            user.failedLoginAttempts
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr class="border-b-0">
                                                    <td class="text-right">
                                                        Vérrouillé depuis
                                                        :&nbsp;
                                                    </td>
                                                    <td>
                                                        @if (user.lockTime) {
                                                            {{
                                                                user.lockTime
                                                                    | date
                                                            }}
                                                        } @else {
                                                            Non vérrouillé
                                                        }
                                                    </td>
                                                </tr>
                                                <tr class="border-b-0">
                                                    <td class="text-right">
                                                        Token de
                                                        réinitialisation :&nbsp;
                                                    </td>
                                                    <td>
                                                        @if (
                                                            user.resetPasswordToken
                                                        ) {
                                                            {{
                                                                user.resetPasswordToken
                                                            }}
                                                        } @else {
                                                            Non défini
                                                        }
                                                    </td>
                                                </tr>
                                                <tr class="border-b-0">
                                                    <td class="text-right">
                                                        Expiration du token de
                                                        réinitialisation :&nbsp;
                                                    </td>
                                                    <td>
                                                        @if (
                                                            user.resetPasswordTokenExpiry
                                                        ) {
                                                            {{
                                                                user.resetPasswordTokenExpiry
                                                                    | date
                                                            }}
                                                        } @else {
                                                            Non défini
                                                        }
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- Autres -->
                                    <td>
                                        <table
                                            class="table-zebra-zbra table table-xs">
                                            <tbody>
                                                <tr class="border-b-0">
                                                    <td>Créer&nbsp;</td>
                                                    <td>
                                                        {{
                                                            user.createdAt
                                                                | dateDistance
                                                                    : true
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr class="border-b-0">
                                                    <td>Modifier&nbsp;</td>
                                                    <td>
                                                        <!-- date en francais  -->
                                                        {{
                                                            user.updatedAt
                                                                | dateDistance
                                                                    : true
                                                        }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <!-- Actions -->
                                    <td>
                                        <div class="flex flex-col gap-1">
                                            <div
                                                class="tooltip"
                                                data-tip="Modifier">
                                                <button
                                                    class="btn btn-square btn-outline">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 24 24"
                                                        fill="currentColor"
                                                        class="h-6 w-6">
                                                        <path
                                                            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                                        <path
                                                            d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                                    </svg>
                                                </button>
                                            </div>
                                            <div
                                                class="tooltip"
                                                data-tip="Supprimer">
                                                <button
                                                    (click)="
                                                        onDeleteUser(user.id)
                                                    "
                                                    class="btn btn-square btn-outline hover:btn-error hover:text-error"
                                                    data-tip="Supprimer">
                                                    <svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 24 24"
                                                        fill="currentColor"
                                                        class="h-6 w-6">
                                                        <path
                                                            fill-rule="evenodd"
                                                            d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td colspan="8">
                                        Aucun utilisateur trouvé
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- End Table -->

            <!-- Footer -->
            <div
                class="grid gap-3 border-t border-base-300 px-6 py-4 md:flex md:items-center md:justify-between">
                <div>
                    <p
                        class="text-sm text-base-content/50"
                        *ngIf="pagination$ | async as pagination; else noTotal">
                        {{
                            pagination.totalElements +
                                ' ' +
                                (pagination.totalElements > 1
                                    ? 'utilisateurs'
                                    : 'utilisateur')
                        }}
                    </p>
                    <ng-template #noTotal></ng-template>
                </div>

                <div
                    paginator
                    *ngIf="pagination$ | async as pagination"
                    [currentPage]="pagination.number + 1"
                    [totalPages]="pagination.totalPages"></div>
            </div>
            <!-- End Footer -->
        </div>
    </div>
    <!-- End Card -->
</section>
<!-- End Table Section -->
