<div class="dropdown">
  <label tabindex="0" for="" class="btn m-1" ngSwitch="{{ selectedTheme }}">
    <app-svg-sun *ngSwitchCase="'light'" className="h-6 w-6" />
    <app-svg-moon *ngSwitchCase="'dark'" className="h-6 w-6" />
    <app-svg-system *ngSwitchCase="'system'" className="h-6 w-6" />
  </label>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box flex gap-2">
    <!-- <ul id="dropdown-states" class="menu bg-base-200 rounded-box" aria-labelledby="themes-button"> -->
    <ng-container *ngFor="let theme of themes; let i = index">
      <ng-container *ngIf="theme.theme !== selectedTheme">
        <li>
          <button (click)="setTheme(theme.theme)" type="button" class="btn">
            <div class="inline-flex items-center" ngSwitch="{{ theme.theme }}">
              <app-svg-sun className="h-6 w-6" *ngSwitchCase="'light'" />
              <app-svg-moon className="h-6 w-6" *ngSwitchCase="'dark'" />
              <app-svg-system className="h-6 w-6" *ngSwitchCase="'system'" />
            </div>
          </button>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</div>
