<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<label class="form-control w-full max-w-xs">
    <div class="label">
        <span class="label-text" [attr.for]="field.id">{{ field.label }}</span>
    </div>
    <ng-select
        class="ad-custom-select"
        [labelForId]="field.label"
        [items]="items$ | async"
        bindLabel="label"
        bindValue="value"
        [multiple]="field.type.option === 'multiple'"
        placeholder="{{ field.placeholder }}"
        [(ngModel)]="selected"
        [loading]="loading"
        (scroll)="onScroll($event)"
        (scrollToEnd)="onScrollToEnd()">
    </ng-select>
</label>
