@if (user !== null) {
    <app-dropdown>
        <label
            dropdown-button
            (click)="dropdown.toggleDropdown()"
            (keydown.enter)="dropdown.toggleDropdown()"
            for=""
            tabindex="0"
            class="avatar btn btn-circle btn-ghost">
            <div class="w-10 rounded-full">
                <img
                    [src]="
                        user.avatar
                            ? user.avatar
                            : 'https://gravatar.com/avatar/205e460b479e2?d=wavatar'
                    "
                    alt="profile image" />
            </div>
        </label>
        <ul
            dropdown-content
            tabindex="0"
            class="menu menu-sm mt-4 w-52 rounded-2xl bg-base-300 p-2 shadow">
            <li class="menu-title rounded-xl bg-base-200 text-base-content">
                <span>
                    {{ user.firstname | capitalize }}
                    {{ user.lastname | uppercase }}
                </span>
                <span class="text-xs font-light"> {{ user.sub }} </span>
            </li>
            @for (item of dropdownItems; track item) {
                @if (
                    !item.adminOnly ||
                    (item.adminOnly && isAdmin() && currentUrl !== '/admin')
                ) {
                    <li>
                        @if (item.isButton) {
                            <button
                                (click)="item.action()"
                                class="justify-between">
                                @switch (item.id) {
                                    @case ('admin') {
                                        <div admin-icon class="h-5 w-5"></div>
                                    }
                                    @case ('logout') {
                                        <div logout-icon class="h-5 w-5"></div>
                                    }
                                    @case ('profile') {
                                        <div profile-icon class="h-5 w-5"></div>
                                    }
                                    @case ('settings') {
                                        <div
                                            settings-icon
                                            class="h-5 w-5"></div>
                                    }
                                }
                                <span> {{ item.text }} </span>
                            </button>
                        } @else {
                            <a [routerLink]="item.link" class="justify-between">
                                @switch (item.id) {
                                    @case ('admin') {
                                        <div admin-icon class="h-5 w-5"></div>
                                    }
                                    @case ('logout') {
                                        <div logout-icon class="h-5 w-5"></div>
                                    }
                                    @case ('profile') {
                                        <div profile-icon class="h-5 w-5"></div>
                                    }
                                    @case ('settings') {
                                        <div
                                            settings-icon
                                            class="h-5 w-5"></div>
                                    }
                                }
                                <span> {{ item.text }} </span>
                            </a>
                        }
                    </li>
                }
            }
        </ul>
    </app-dropdown>
} @else {
    <a
        class="btn btn-ghost -md:btn-square"
        routerLink="/auth/login"
        routerLinkActive="btn-disabled"
        ariaCurrentWhenActive="page">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-6 w-6">
            <path
                fill-rule="evenodd"
                d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z"
                clip-rule="evenodd" />
        </svg>
        <span class="ml-2 hidden font-normal md:inline"> Se connecter </span>
    </a>
}
