<section class="container mx-auto">
    <div class="hero mb-12 mt-8 sm:mt-20">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="flex flex-col items-center justify-center gap-6">
                <div class="text-center lg:text-left">
                    <h1 class="font-serif text-res-h1 font-bold">
                        Boostez Vos Compétences Informatiques!
                    </h1>
                    <p
                        class="py-4 font-light text-base-content/60 md:text-lg xl:text-2xl">
                        Bienvenue dans la première étape de votre parcours vers
                        l'excellence informatique. L'inscription est simple et
                        rapide. Une fois inscrit, vous aurez accès à une
                        multitude de ressources, de formations de qualité et de
                        communautés dynamiques pour vous aider à atteindre vos
                        objectifs. Rejoignez-nous dès aujourd'hui et
                        préparez-vous à plonger dans le monde de l'apprentissage
                        informatique.
                    </p>
                </div>
                <div class="hidden w-[500px] lg:block">
                    <app-svg-register></app-svg-register>
                </div>
            </div>

            <!-- divider -->
            <div class="divider divider-horizontal hidden lg:flex"></div>
            <!-- /divider -->

            <div
                class="card w-full max-w-sm flex-shrink-0 bg-base-100 shadow-2xl">
                <div class="card-body">
                    <div class="form-control mt-6">
                        <button
                            class="btn bg-[#24292F] text-sm font-medium normal-case text-white hover:bg-[#24292F]/90">
                            <svg
                                class="mr-2 h-6 w-6"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    fill-rule="evenodd"
                                    d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                                    clip-rule="evenodd" />
                            </svg>
                            Se connecter avec Github
                        </button>
                    </div>
                    <div class="form-control mt-6">
                        <button
                            class="btn bg-[#4285F4] text-sm font-medium normal-case text-white hover:bg-[#4285F4]/90">
                            <svg
                                class="mr-2 h-6 w-6"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 18 19">
                                <path
                                    fill-rule="evenodd"
                                    d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z"
                                    clip-rule="evenodd" />
                            </svg>
                            Se connecter avec Google
                        </button>
                    </div>
                    <!-- divider -->
                    <div class="divider divider-vertical"></div>
                    <!-- /divider -->
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <!-- email -->
                        <app-field-status
                            class="mb-6 block w-full"
                            [control]="registerForm.get('username')!">
                            <div class="group relative z-0 w-full">
                                <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    class="peer block w-full appearance-none border-0 border-b-2 border-base-200 bg-transparent px-0 py-2.5 text-sm focus:border-accent focus:outline-none focus:ring-0"
                                    placeholder=" "
                                    formControlName="username"
                                    required />
                                <label
                                    for="email"
                                    class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-accent"
                                    >Adresse Email</label
                                >
                            </div>
                        </app-field-status>
                        <!-- password -->
                        <app-field-status
                            class="mb-6 block w-full"
                            [control]="registerForm.get('password')!"
                            info="Le mot de passe doit comporter au moins 8 caractères.
                        Il doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.
                        Les caractères spéciaux autorisés sont : ! @ # $ % ^ & * ( ) { } [ ] < > ? / | \ - _ + = . , : ;">
                            <div class="group relative z-0 w-full">
                                <input
                                    type="password"
                                    name="password"
                                    id="password"
                                    class="peer block w-full appearance-none border-0 border-b-2 border-base-200 bg-transparent px-0 py-2.5 text-sm focus:border-accent focus:outline-none focus:ring-0"
                                    placeholder=" "
                                    formControlName="password"
                                    required />
                                <label
                                    for="password"
                                    class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-accent"
                                    >Mot de passe
                                </label>
                            </div>
                        </app-field-status>
                        <!-- repeat password -->
                        <app-field-status
                            class="mb-6 block w-full"
                            [control]="registerForm.get('repeatPassword')!">
                            <div class="group relative z-0 w-full">
                                <input
                                    type="password"
                                    name="repeat_password"
                                    id="repeat_password"
                                    formControlName="repeatPassword"
                                    class="peer block w-full appearance-none border-0 border-b-2 border-base-200 bg-transparent px-0 py-2.5 text-sm focus:border-accent focus:outline-none focus:ring-0"
                                    placeholder=" "
                                    required />
                                <label
                                    for="repeat_password"
                                    class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-accent"
                                    >Confirmez le mot de passe</label
                                >
                            </div>
                        </app-field-status>
                        <!-- first name -->
                        <app-field-status
                            [control]="registerForm.get('firstname')!"
                            class="mb-6 block w-full">
                            <div class="group relative z-0 w-full">
                                <input
                                    type="text"
                                    name="first_name"
                                    id="first_name"
                                    formControlName="firstname"
                                    class="peer block w-full appearance-none border-0 border-b-2 border-base-200 bg-transparent px-0 py-2.5 text-sm focus:border-accent focus:outline-none focus:ring-0"
                                    placeholder=" "
                                    required />
                                <label
                                    for="first_name"
                                    class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-accent"
                                    >Prénom</label
                                >
                            </div>
                        </app-field-status>
                        <!-- last name -->
                        <app-field-status
                            class="mb-6 block w-full"
                            [control]="registerForm.get('lastname')!">
                            <div class="group relative z-0 w-full">
                                <input
                                    type="text"
                                    name="last_name"
                                    id="last_name"
                                    formControlName="lastname"
                                    class="peer block w-full appearance-none border-0 border-b-2 border-base-200 bg-transparent px-0 py-2.5 text-sm focus:border-accent focus:outline-none focus:ring-0"
                                    placeholder=" "
                                    required />
                                <label
                                    for="last_name"
                                    class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-accent"
                                    >Nom</label
                                >
                            </div>
                        </app-field-status>
                        <!-- phone -->
                        <app-field-status
                            class="mb-6 block w-full"
                            [control]="registerForm.get('phone')!">
                            <div class="group relative z-0 w-full">
                                <input
                                    type="tel"
                                    name="phone"
                                    id="phone"
                                    formControlName="phone"
                                    class="peer block w-full appearance-none border-0 border-b-2 border-base-200 bg-transparent px-0 py-2.5 text-sm focus:border-accent focus:outline-none focus:ring-0"
                                    placeholder=" "
                                    required />
                                <label
                                    for="phone"
                                    class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-accent"
                                    >Téléphone</label
                                >
                            </div>
                        </app-field-status>

                        <!-- submit button  -->
                        <div class="form-control">
                            <button
                                type="submit"
                                class="btn btn-primary"
                                [disabled]="!registerForm.valid">
                                Envoyer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
