<section class="container mx-auto">
    <div class="hero relative z-10 mb-12 mt-8 sm:mt-20">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="flex flex-col items-center justify-center gap-6">
                <div class="text-center lg:text-left">
                    <h1 class="font-serif text-res-h1 font-bold">
                        Connection à votre compte {{ provider }}
                    </h1>
                    <p
                        class="py-4 font-light text-base-content/60 md:text-lg xl:text-2xl">
                        Veuillez patienter pendant que nous vous connectons à
                        votre compte {{ provider }}.
                    </p>
                </div>
                <div class="hidden w-[500px] lg:block">
                    <div svg-oauth></div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="pointer-events-none absolute left-0 top-1/2 z-0 aspect-square w-1/2 -translate-y-1/2 rounded-full bg-primary opacity-10 blur-3xl [transform:translate3d(0,0,0)]"></div>
</section>
