<section class="mx-auto min-w-[100vw]">
  <div
    class="hero min-h-screen"
    style="
      background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?auto=format&fit=crop&q=80&w=2670&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    ">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Découvrez un Univers d'Apprentissage Informatique</h1>
        <p class="mb-5">
          Bienvenue sur la plateforme Adelium, votre passerelle vers l'apprentissage informatique de
          qualité. Explorez des formations, des ressources gratuites, des quiz, et bien plus encore.
          Que vous soyez un débutant ou un professionnel, nous avons tout ce dont vous avez besoin
          pour développer vos compétences. Rejoignez-nous dès maintenant et préparez-vous à élargir
          vos horizons informatiques.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</section>
