<section
    view-layout
    [config]="config"
    [fields]="entityFormModel.fields"
    [paginationParams$]="paginationParams$"
    [paginationResult$]="paginationResult$"
    [sortState]="sortState"
    (sizeChange)="onSizeChange($event)"
    (add)="onAdd()"
    (sortChange)="onSortChange($event)"
    (exportAll)="exportAll()"
    (pageChange)="onPageChange($event)">
    <!-- tbody -->
    @if (paginationResult$ | async; as pagination) {
        <tbody [@bodyAnimation]="pagination.number">
            @if (error$ | async; as errorMessage) {
                <div>error : {{ errorMessage }}</div>
            } @else if (isLoading$ | async) {
                <tr>
                    <td colspan="100%" class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Chargement...</span>
                        </div>
                    </td>
                </tr>
            } @else {
                @if (entities$ | async; as entities) {
                    @if (entities.length === 0) {
                        <tr>
                            <td colspan="100%" class="text-center">
                                <div class="alert alert-info" role="alert">
                                    <div class="h-8 w-8">
                                        <ng-container
                                            *ngComponentOutlet="
                                                getIconComponent('info-icon')
                                            ">
                                        </ng-container>
                                    </div>
                                    <span> Aucun résultat.</span>
                                </div>
                            </td>
                        </tr>
                    } @else {
                        @for (entity of entities; track entity) {
                            <tr
                                base-tr
                                [@deleteAnimation]="
                                    entity.id === deleteId
                                        ? 'deleted'
                                        : 'active'
                                "
                                (delete)="onDelete($event)"
                                (edit)="onEdit($event)"
                                [entity]="entity"
                                [fields]="entityFormModel.fields"></tr>
                        }
                    }
                }
            }
        </tbody>
    }
</section>
